<div id="{{ id }}" class="card mt-5 col-10 mx-auto p-0 text-center">
  <a class="post-card" href="/dashboard/post/{{ id }}">
    <div class="card-header pb-0">
      <h2>
        {{ title }}
      </h2>
      <p class="small text-muted">
        Posted on {{ format_date createdAt }}
      </p>
    </div>
  </a>
</div>