#login, a {
  text-decoration: none;
}
#login, a:hover {
  text-decoration: none;
}

.post-card {
  text-decoration: none;
  color: black;
}

.post-card:hover {
  text-decoration: none;
  color: black;
}